<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PA3 Query System</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mt-5">
      <h1 class="mb-4">API Search</h1>
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-lg btn-block mb-3" onclick="location.href='/keyword_search'">Keyword Search</button>
        </div>
        <hr>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-lg btn-block mb-3" onclick="location.href='/advanced_search'">Advanced Search</button>
        </div>
      </div>
    </div>
</body>
</html>