<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PA3 Query System</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="#">
</head>
<body>
<div class="container">
    <h1>Keyword Based Search</h1>
    <form method="POST" action="{{ url_for('search_results') }}" id="keyword-search-form">
      <div class="form-group">
            <label for="search-type">Search for:</label>
            <select class="form-control" id="search-type" name="search-type">
                <option value="apis">APIs</option>
                <option value="mashups">Mashups</option>
            </select>
      </div>
      <div class="form-group">
        <label for="keywords">Enter keywords separated by spaces:</label>
        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="e.g. weather forecast">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</body>
</html>